# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI on main branch

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '17']

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK ${{matrix.java}}
      uses: actions/setup-java@v4
      with:
        java-version: ${{matrix.java}}
        distribution: 'adopt'
        cache: maven
    - name: Set Version
      run: echo "PACKAGE_VERSION=$(date +'%Y.%m.%d').$GITHUB_RUN_NUMBER" >> $GITHUB_ENV
      shell: bash

    - name: Install maven-repository-aws-s3 dependencies
      run: |
        HOME=$(dirname $(readlink -f $(which mvn)))
        echo "HOME: $HOME"
        
        for dep in "com.github.ehsaniara:maven-repository-aws-s3:1.2.11:jar" "org.apache.httpcomponents:httpcore:4.4.16:jar" "com.amazonaws:aws-java-sdk-s3:1.12.405:jar" "com.amazonaws:aws-java-sdk-core:1.12.405:jar" "com.fasterxml.jackson.core:jackson-core:2.14.2:jar" "com.fasterxml.jackson.core:jackson-databind:2.14.2:jar" "com.fasterxml.jackson.core:jackson-annotations:2.14.2:jar" "joda-time:joda-time:2.12.2:jar" "org.apache.httpcomponents:httpclient:4.5.14:jar" "commons-io:commons-io:2.12.0"
        do
           mvn dependency:copy \
            --batch-mode \
            -DrepoUrl=https://repo.maven.apache.org/maven2 \
            -Dartifact=${dep} \
            -DoutputDirectory=${HOME}/../lib \
            -Dproject.versionNumber=${{ env.PACKAGE_VERSION }} \
            -DskipTests=true \
            -Dspring.profiles.active=mysql
        done
        
        ls -la "${HOME}/../lib"
      shell: bash

    - name: Build with Maven
      run: 
        mvn clean package -DskipTests=true -Dspring.profiles.active=mysql -Dproject.versionNumber=${{ env.PACKAGE_VERSION }}

    - name: Create settings.xml
      shell: pwsh
      run: |
        Write-Host "Creating settings.xml file"
        $fileContent = 
        @"
          <settings>
          <servers>
              <server>
              <id>octopus-sales-public-snapshot</id>
              <filePermissions>PublicRead</filePermissions>
              <username>${{ secrets.AWS_ACCESS_KEY_ID }}</username>
              <password>${{ secrets.AWS_SECRET_ACCESS_KEY }}</password>
              <configuration>
                  <region>ap-southeast-2</region>
                  <publicRepository>true</publicRepository>
              </configuration>
              </server>
              <server>
              <id>octopus-sales-public-release</id>
              <filePermissions>PublicRead</filePermissions>
              <username>${{ secrets.AWS_ACCESS_KEY_ID }}</username>
              <password>${{ secrets.AWS_SECRET_ACCESS_KEY }}</password>
              <configuration>
                  <region>ap-southeast-2</region>
                  <publicRepository>true</publicRepository>
              </configuration>
              </server>
          </servers>
          </settings>
        "@

          Set-Content -Path "settings.xml" -Value $fileContent        



    - name: Zip files
      uses: vimtor/action-zip@v1.2
      with:
          files: flyway
          dest: petclinic.mysql.flyway.${{ env.PACKAGE_VERSION }}.zip


    - name: Write pom.xml
      shell: pwsh
      run: |
        Write-Host "Creating pom.xml file"
        
        $fileContent = 
        @"
        <project>
            <groupId>com.octopus</groupId>
            <artifactId>petclinic.mysql.flyway</artifactId>
            <version>${{ env.PACKAGE_VERSION }}</version>
            <modelVersion>4.0.0</modelVersion>
            <build>
                <extensions>
                    <extension>
                        <groupId>com.github.seahen</groupId>
                        <artifactId>maven-s3-wagon</artifactId>
                        <version>1.3.3</version>
                    </extension>
                </extensions>
            </build>
            <distributionManagement>
                <repository>
                    <id>maven.nuvalence.repo</id>
                    <url>s3://octopus-sales-public-maven-repo/snapshot</url>
                </repository>
                <snapshotRepository>
                    <id>maven.nuvalence.repo</id>
                    <url>s3://octopus-sales-public-maven-repo/snapshot</url>
                </snapshotRepository>
            </distributionManagement>
        </project>
        "@
        
        Set-Content -Path pom.xml -Value $fileContent
    - name: Push flyway package to Maven Repository
      uses: actions/setup-java@v4
      with:
          java-version: '11'
          distribution: 'temurin'
          architecture: x64
    - name: Run maven build
      run: mvn deploy:deploy-file --settings settings.xml -DgroupId=com.octopus -DartifactId=petclinic.mysql.flyway -Dversion=${{ env.PACKAGE_VERSION }} -Dpackaging=zip -Dfile=petclinic.mysql.flyway.${{ env.PACKAGE_VERSION }}.zip -DrepositoryId=octopus-sales-public-snapshot -Durl=s3://octopus-sales-public-maven-repo/snapshot

    - name: Write pom.xml
      shell: pwsh
      run: |
        Write-Host "Creating pom.xml file"
        
        $fileContent = 
        @"
        <project>
            <groupId>com.octopus</groupId>
            <artifactId>petclinic.web</artifactId>
            <version>${{ env.PACKAGE_VERSION }}</version>
            <modelVersion>4.0.0</modelVersion>
            <build>
                <extensions>
                    <extension>
                        <groupId>com.github.seahen</groupId>
                        <artifactId>maven-s3-wagon</artifactId>
                        <version>1.3.3</version>
                    </extension>
                </extensions>
            </build>
            <distributionManagement>
                <repository>
                    <id>maven.nuvalence.repo</id>
                    <url>s3://octopus-sales-public-maven-repo/snapshot</url>
                </repository>
                <snapshotRepository>
                    <id>maven.nuvalence.repo</id>
                    <url>s3://octopus-sales-public-maven-repo/snapshot</url>
                </snapshotRepository>
            </distributionManagement>
        </project>
        "@
        
        Set-Content -Path pom.xml -Value $fileContent

    - name: Copy war file to root directory
      run: cp target/petclinic.web.${{ env.PACKAGE_VERSION }}.war petclinic.web.${{ env.PACKAGE_VERSION }}.war

    - name: Push war package to Maven Repository
      uses: actions/setup-java@v4
      with:
          java-version: '11'
          distribution: 'temurin'
          architecture: x64
    - name: Run maven build
      run: mvn deploy:deploy-file --settings settings.xml -DgroupId=com.octopus -DartifactId=petclinic.web -Dproject.versionNumber=${{ env.PACKAGE_VERSION }} -Dfile=petclinic.web.${{ env.PACKAGE_VERSION }}.war -DrepositoryId=octopus-sales-public-snapshot -Durl=s3://octopus-sales-public-maven-repo/snapshot      
